* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, "游ゴシック体", YuGothic, "My Yu Gothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.sec1 {
  padding: 100px;
  /* height: 100vh; */
  margin-top: 50vh;
}

.sec2 {
  padding: 100px 0;
  margin-top: 90vh;
  /* padding: 100px; */
  background-color: whitesmoke;
}

.sec3 {
  padding: 100px 0;
}

h2 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-weight: normal;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.contents-wrapper {
  padding: 0 30px;
}

.btn-mr {
  margin-top: 40px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0 100px;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 1s;
  z-index: 10000;
}

header.sticky {
  height: 80px;
}

body {
  min-height: 1000px;
}

header .banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header.sticky .banner {
  opacity: 0.5;
}

header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15vw;
  color: white;
  font-weight: 700;
  transition: 1s;
  text-decoration: none;
  z-index: 10;
}

header.sticky .logo {
  position: absolute;
  font-size: 2em;
  left: 100px;
  transform: translate(0, -50%);
}

nav {
  position: relative;
  display: flex;
  z-index: 1;
}

nav ul {
  position: relative;
  display: flex;
  transition: 0.25s;
  transform: translateX(100px);
  opacity: 0;
}

header.sticky nav ul {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.75s;
}

.toggle {
  position: relative;
  width: 50px;
  height: 44px;
  cursor: pointer;
  opacity: 0;
}

.toggle span {
  position: absolute;
  left: 5px;
  width: 80%;
  height: 4px;
  background-color: black;
  border-radius: 4px;
  text-align: center;
  /* opacity: 0; */
}

.toggle, .toggle span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}

.toggle span:nth-of-type(1) {
  top: 4px;
}

.toggle span:nth-of-type(2) {
  top: 23px;
}

.toggle span:nth-of-type(3) {
  top: 42px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: white;
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.2em;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(248, 45, 255);
}

section h2 {
  font-size: 1.2rem;
}

.main-title-jp {
  position: relative;
  display: inline-block;
  margin-bottom: 12px;
  padding: 0 30px;
  font-size: 40px;
  /* font-size: 4rem; */
  line-height: 1;
  font-weight: bold;
  color: #006bbb;
  background: linear-gradient(0deg, #006bbb, #0085e8);
  background: linear-gradient( 0deg, #006bbb, #0085e8);
  background: linear-gradient(0deg, #006bbb, #0085e8);
  -webkit-background-clip: text;
}

.top-title {
  margin-bottom: 40px;
  text-align: center;
  z-index: 100;
}

.main-title-jp::before {
  content: '';
  position: absolute;
  display: block;
  top: 3px;
  left: -60px;
  width: 60px;
  height: 1px;
  background-color: #006bbb;
}

.main-title-jp::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 3px;
  right: -60px;
  width: 60px;
  height: 1px;
  background-color: #006bbb;
}

.main-title-en {
  display: block;
  font-size: 14px;
  /* font-size: 1.4rem; */
  font-style: oblique;
  color: #666666;
  letter-spacing: .04em;
}

.description {
  margin-bottom: -10px;
  font-size: 38px;
  /* font-size: 3.8rem; */
  font-weight: bold;
  font-style: oblique;
  line-height: 1.2;
  color: #2e2e2e;
  text-align: center;
}

.description-secnd {
  display: none;
}

.description-almost {
  font-size: 18px;
  /* font-size: 1.8rem; */
  color: #006bbb;
  text-align: center;
}

.img-setbox {
  margin: 40px 0;
}

.home .sec01 .img-setbox>* {
  width: 50%;
  /* height: 0 auto; */
}

.pc-item {
  height: auto;
  line-height: 1;
  max-width: 100%;
  vertical-align: top;
}

.flex-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.btn-wrapper {
  text-align: center;
}

a {
  color: #0074cc;
  text-decoration: none;
  transition: color 0.3s;
}

.btn-blubox {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 66px;
  margin: 0 auto;
  background: linear-gradient( 0deg, #006bbb, #0085e8);
  font-weight: bold;
  line-height: 1.2;
  color: #fff;
  font-size: 16px;
  transition: all .3s;
}

.btn-blubox::before {
  content: '';
  display: block;
  position: absolute;
  top: -100px;
  right: -360px;
  width: 400px;
  height: 266px;
  transform: rotate( 20deg);
  transition: all 0.3s;
  background-color: #006bbb;
}

.btn-blubox:hover:before {
  transform: translateX(-300px);
}

.btn-blubox::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 9px;
  height: 9px;
  margin-top: -5px;
  border-top: 1.25px solid #fff;
  border-right: 1.25px solid #fff;
  transform: rotate( 45deg);
  backface-visibility: hidden;
}

.btn-blubox .txt {
  position: relative;
}

.container {
  position: absolute;
  display: flex;
  height: calc(100% - 200px);
  width: calc(100% - 70px);
  top: 750px;
  left: 20px;
  z-index: 10;
  margin: 20px;
}

.box {
  position: relative;
  width: 25%;
  height: 100%;
  overflow: hidden;
  border-right: 10px solid #fff;
}

.box:last-child {
  /* border-right: none; */
}

.imgbx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
}

.imgbx.active {
  position: fixed;
  top: calc(20% - 100px);
  left: 39px;
  height: calc(100% - 100px);
  width: calc(100% - 68px);
  z-index: 1000;
  opacity: 1;
  transition: 1s;
}

.imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgbx:hover img {
  transform: scale(1.2);
  transition: .5s;
  height: 100%;
}

.imgbx.active:hover img {
  transform: scale(1);
}

.p-blubox {
  top: 690px;
  /* z-index: 100; */
}

.swiper-sec {
  position: relative;
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  overflow: hidden;
}

.rink-blog {
  color: black;
}

.home .sec1 .img-setbox {
  margin: 40px 0;
}

.home .sec1 .img-setbox>* {
  width: 50%;
  height: 0 auto;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 180px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 358px;
  padding: 10px 20px;
  filter: blur(0px);
  border-radius: 5px;
}

.swiper-slide-active {
  filter: blur(0px);
  background: #fff;
  box-shadow: 0 15px 50px rgba(94, 240, 240, 0.2);
}

.swiper-slide-active:hover {
  opacity: 0.8;
}

.swiper-Box img {
  width: 100%;
  border-radius: 5px;
}

.swiper-Box {
  position: relative;
  width: 100%;
}

.swiper-content p {
  position: absolute;
  font-style: italic;
  font-size: 13px;
  line-height: 2;
  text-indent: 2px;
  letter-spacing: 3px;
  padding: 30px 15px 25px;
  top: 154px;
  background: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  border: 1px rgb(255, 255, 255) solid;
  box-shadow: 0 -10px 15px 0 rgba(0, 49, 73, 0.5);
  border-radius: 5px;
}


/* responsive */

@media (max-width: 768px) {
  section {
    padding: 80px 20px;
  }
  .sec1 {
    padding: 100px;
  }
  .container {
    flex-direction: column;
    flex-wrap: nowrap;
    top: 680px;
    left: 0;
    width: calc(100% - 35px);
    height: calc(100% - 170px);
  }
  .box {
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #fff;
  }
  .imgbx.active {
    top: 70px;
    left: 20px;
    width: calc(100% - 35px);
    height: calc(100% - 160px);
  }
  section, header {
    padding: 40px;
  }
  section h2 {
    font-size: 2em;
  }
  header.sticky .logo {
    left: 40px;
  }
  header.sticky .banner {
    opacity: 0;
  }
  nav ul {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  nav.active ul {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 4s;
  }
  header.sticky nav ul {
    opacity: 1;
    visibility: visible;
  }
  nav ul li a {
    font-size: 1.5em;
    padding: 5 15px;
  }
  header.sticky .toggle {
    position: fixed;
    top: 15px;
    right: 40px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: white;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
  }
  header.sticky .toggle.active {
    background-color: white;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .toggle.active span:nth-of-type(1) {
    transform: translateY(19px) rotate(-45deg);
  }
  .toggle.active span:nth-of-type(2) {
    opacity: 0;
  }
  .toggle.active span:nth-of-type(3) {
    transform: translateY(-19px) rotate(45deg);
  }
  .main-title-jp {
    position: relative;
    display: inline-block;
    margin-bottom: 12px;
    padding: 0 15px;
    font-size: 28px;
    /* font-size: 4rem; */
    line-height: 1;
    font-weight: bold;
    color: #006bbb;
    background: linear-gradient(0deg, #006bbb, #0085e8);
    background: linear-gradient( 0deg, #006bbb, #0085e8);
    background: linear-gradient(0deg, #006bbb, #0085e8);
    -webkit-background-clip: text;
  }
  .top-title {
    margin-bottom: 40px;
    text-align: center;
    z-index: 100;
  }
  .main-title-jp::before {
    content: '';
    position: absolute;
    display: block;
    top: 3px;
    right: -22px;
    left: -22px;
    width: 22px;
    height: 1px;
    background-color: #006bbb;
  }
  .main-title-jp::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 3px;
    right: -22px;
    width: 22px;
    height: 1px;
    background-color: #006bbb;
  }
  .description {
    margin-bottom: -10px;
    font-size: 22px;
    /* font-size: 3.8rem; */
    font-weight: bold;
    font-style: oblique;
    line-height: 1.4;
    color: #2e2e2e;
    text-align: center;
  }
  .description-secnd {
    display: none;
  }
  .description-almost {
    font-size: 15px;
    /* font-size: 1.8rem; */
    color: #006bbb;
    text-align: center;
  }
}
